@model ProjetoTesteFortesMVC.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FornecedorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FornecedorId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PedidoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoId)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
